
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    .depthShadow {
        box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.2);
        /* clip-path: inset(0px 0px -20px 0px); */
    }
}


body {
    overflow-x: hidden;
    overflow-y: scroll;
}


.filtersOpen {
    max-height: 200vh;
    transition: max-height 0.25s ease-in;
    overflow: hidden;
}
.filtersClose {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}

.modalOpen {
    opacity: 1;
    transition: opacity 80ms ease-in;
}
.modalClose {
    opacity: 0;
    transition: opacity 80ms ease-out;
}

.openForm {
    max-height: 54rem;
    opacity: 100%;
    transition: all 400ms ease;
  }
  
.collapseForm {
    max-height: 24rem;
    opacity: 0%;
    transition: all 400ms ease;
}





/* For Google Chrome: */
.styledPlaceholder::-webkit-input-placeholder {
    color: rgb(148, 160, 183);
    font-weight: bold;
}
/* For Mozilla Firefox: */
.styledPlaceholder::-moz-placeholder {
    color: rgb(148, 160, 183);
    font-weight: bold;
}
/* For Internet Explorer: */
.styledPlaceholder:-ms-input-placeholder {
    color: rgb(148, 160, 183);
    font-weight: bold;
} 
/* For Opera: */
.styledPlaceholder:-o-input-placeholder {
    color: rgb(148, 160, 183);
    font-weight: bold;
} 




/*_______________________________________________ Scrollbars */

/* FIREFOX */
* {
    scrollbar-color: #334155 #cbd5e1;
}
.hide-scrollbar {
    scrollbar-width:none;
}

/* CHROME & others */
*::-webkit-scrollbar{
    width: 1em;
    height: 1.3em;
}
*::-webkit-scrollbar-thumb{
    background-color: #334155;
    border-radius: 4px;
    /* border: 4px solid #cbd5e1; */
}
*::-webkit-scrollbar-thumb:hover{
    background-color: #475569;
}
*::-webkit-scrollbar-track{
    background-color: #cbd5e1;
    border-radius: 100vw;
}
.hide-scrollbar::-webkit-scrollbar{
    display:none;
}
* {
    -webkit-tap-highlight-color: transparent;
}


/* FIREFOX */
.formScrollbar {
    scrollbar-color: rgb(149, 149, 161) rgb(40, 49, 75);
}  
/* CHROME & others */
.formScrollbar::-webkit-scrollbar{
    width: 1em;
    height: 1.5em;
}
.formScrollbar::-webkit-scrollbar-thumb{
    background-color: rgb(149, 149, 161);
    /* border-radius: 100vw; */
    /* border: 2px solid rgb(40, 49, 75); */
}
.formScrollbar::-webkit-scrollbar-track{
    background-color: rgb(40, 49, 75);
    border-radius: 100vw;
    margin-block: 1em;
}



/* FIREFOX */
.accordianScrollbar {
    scrollbar-color: #64748b white;
}  
/* CHROME & others */
.accordianScrollbar::-webkit-scrollbar-thumb{
    background-color: #64748b;
    border-radius: 6px;
    border: 2px solid white;
}
.accordianScrollbar::-webkit-scrollbar-track{
    background-color: white;
}
